html {
	height: 100%;
}
body {
	height: 100%;
	background: linear-gradient(180deg, rgba(100, 100, 100, 0.10), rgba(100, 100, 100, 0.45));
	background-attachment: fixed;
}

.book {
	max-width: 65vw;
	min-width: 880px;
	color: #222;
	opacity: 0.25;
	font-family: Georgia, Baskerville, serif;
	font-size: 1.5em;
	position: absolute;
	top: 5vh;
	left: 10vw;
	transform-origin: 50% 600px;
	text-shadow: 0 0 3px rgba(34, 34, 34, 0.6), 0 0 1px rgba(34, 34, 34, 0.2);
	text-align: justify;
	cursor: default;
	outline: none;
	padding: 50px;
	background-color: #ffffff;
}


h1 {
	font-weight: normal;
	font-size: 82px;
	text-align: center;
}

h2 {
	font-weight: normal;
	font-size: 32px;
	text-align: center;
}

.overlay {
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: linear-gradient(rgba(220, 220, 220, 0.25), rgba(220, 220, 220, 0));
	z-index: 101;
	pointer-events: none;
}

a {
	color: inherit;
	text-decoration: none;
}
